# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List Popular languages for Data Science
- Practice the syntax for Jupyter Notebooks
- Practice with the Markdown different formats, headers, lists and tables
- Evaluate some simple code expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. Scrapy
2. NumPy
3. Pandas
4. Plotly
5. Seaborn

Data Science Tools |
----------------|
Jupyter Notebooks and JupyterLab|
Rstudio|
Git and GitHub|
Spark from Apache|

### Below are a few examples of evaluating arithmetic expressions in Python

_Addition_

print(5 + 3)  # Output: 8

_Subtraction_

print(10 - 2)  # Output: 8

_Multiplication_

print(4 * 2)  # Output: 8

_Division_

print(16 / 2)  # Output: 8.0

_Floor Division_

print(17 // 2)  # Output: 8

_Modulus_

print(18 % 10)  # Output: 8

_Exponentiation_

print(2 ** 3)  # Output: 8

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Oscar Miguel Zapata